.container{
    margin: 0 228px;
    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.4px;
        color: #02529c;
    }
    .mainSection {
        border-radius: 8px;
        border: solid 1px #e6e9ec;
        background-color: #ffffff;
        padding:5%;
    }

    .row {
        margin-top: -20px; 
        .heading#jp{
            font-weight: bold;
            color: blue;
        }

        .heading#count{
            color: green;
        }

        #add{
             margin-left:50%;
        }
    }
    .results {
        padding-top: 20px;
        border-top: 1px dashed #333333;
        width: 100%;
    }
}
/*
.jobProfiles {
    
    #heading label{
        display: block;
        color: #02529c;
    }
    .radios {
        display: block;
        width: fit-content;
    }

    #jp {
        width: 221px;
        height: 15px;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.75;
        letter-spacing: 0.3px;
        
    }

    #count {
        width: 123px;
        height: 15px;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.4px;
    }


    table {
        position: relative;
        width: 1000px;
        text-align: center;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.9px;
        font-size: 14px;
        border-collapse: collapse;
    }

    .thead td {
        font-weight: bold;
        height: 70px;
    }

    tr td{
        color: #333333;
        height: 70px;
    }

    .thead td {
        font-weight: bold;
        height: 70px;
        
        color: #0091d1;
    }

    tr:hover {
        background-color: #f9f9f9;
    }

    .action:hover {
        cursor: pointer;
    }
    .jpCols{
        width: 25%;
    }
    .filter, #heading{
        display: inline-table;
    }
}
*/