.jobProfiles {




    .mainSection {
        width: 1286px;
        height: 549px;
        border-radius: 8px;
        border: solid 1px rgba(43, 56, 68, 0.15);
        background-color: #ffffff;
    }


    /**
        Progress bar
    */
    #progress_bar{
        overflow: hidden;
        counter-reset: step;
    }
    
    #progress_bar li{
        list-style-type: none;
        color: black;
        width:25%;
        float:left;
        position: relative;
    }
    
    #progress_bar li:before{
        content: counter(step);
        counter-increment: step;
        width: 45px;
        line-height: 45px;
        display: block;
        color: #2b3844;
        height: 45px;
        background-color: #FFFFFF;
        text-align: center;
        border: 1px solid #2b3844;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        
    }
    
    #progress_bar li:after {
        content: '';
        width: 100%;
        height: 10px;
        background: #e6e9ec;
        position: absolute;
        left: -50%;
        top: 18px;
        z-index: -1; /*put it behind the numbers*/
    }
    #progress_bar li:first-child:after {
    /*connector not needed before the first step*/
        content: none; 
    }
    
    #progress_bar li.active:before,  #progress_bar li.active:after{
        color: #FFFFFF;
        background-color: #0091d1;
        border: 1px solid #FFFFFF;
        font-weight: bold;
        /*@TODO 
            Make each subsequent text on step bold
        */
    }
}