.login {
  
  .headSection img {
    width: 177px;
    height: 29px;
    object-fit: contain;
  }

  button {
    padding: 10px 46px;
    width: 100%;
    font-size: 16px;
    vertical-align: middle;
    font-family: Arial;
    color: white;
    border-style: solid;
    border-color: #0091d1;
    background-color: #0091d1;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  label {
    float: left;
  }
  
  .error {
    margin-top: 0px;
    font-size: 15px;
    color: red;
  }

  .headSection {
    margin: 5vh auto;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 550px;
    width: 550px;
    max-width: 100%;
    text-align: center;
  }

  .mainSection {
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    min-width: 550px;
    width: 550px;
    max-width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
    text-align: center;
    border: 1px solid lightgray;
  }

  input:focus {
    outline: none;
  }

  .form-group {
    display: block;
    width: 450px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 58px;
  }
  
  body {
    font-family: Roboto;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
  
  label {
    float: left;
  }
 
  .loginHeading {
    text-align: center;
    height: 45px;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.6px;
    color: #2b3844;
    padding-top: 28px;
  }
  
  .inp {
    position: relative;
  }

  .inp .label {
    position: absolute;
    top: 16px;
    left:0;
    padding-left: 30px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.9px;
    color: #2b3844;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .inp input, .inp select {
    -webkit-appearance: none;
    width: 420px;
    height: 48px;
    border: 0;
    padding-left: 30px;
    font-family: HelveticaNeue;
    vertical-align: middle;
    border-bottom: 1px solid #223254;
    background: none;
    border-radius: 0;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.9px;
    color: #2b3844;
  }

  .form-group p, .showHide, .form-group img {
    padding-top: 60px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.9px;
    text-align: right;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #2b3844;
  }
  
  button:hover{
    cursor: pointer;
  }

  .inp input:focus, .inp select:focus {
    background: none;
    outline: none;
  }
  
  .inp input:not(:placeholder-shown) + span {
    color: #2b3844;
    -webkit-transform: translateY(-26px) translateX(-26px) scale(0.75);
            transform: translateY(-26px) translateX(-26px) scale(0.75);
  }
  
  .inp input:focus + span {
    -webkit-transform: translateY(-26px) translateX(-26px) scale(0.75);
            transform: translateY(-26px) translateX(-26px) scale(0.75);
    
  }
  
  .inp input:focus + span + .border {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  .showHide {
    padding: 0;
    position: absolute;
    top: 16px;
    right: 0;
    
  }

  .showHide:hover {
    cursor: pointer;
  }

  .form-group img {
    position: relative;
    padding: 0;
    top:37.5px;
    right: 218px;
  }
} 