/* Add a black background color to the top navigation */
.createJobProfile3 {
  body {
      margin: 0 auto;
      padding: 0;
      background-color: #ffffff;
    }
    .mainContents{
      border: 0px;
    }

    .topnav{
      margin: 0 110px;
    }

    #page-numbers {
      list-style: none;
      display: flex;
    }
  
    #page-numbers > li {
      margin-right: 0.3em;
      color: blue;
      user-select: none;
      cursor: pointer;
    }
  
    .ImportTable {
      width: 100%;
      height: 105px;
    }
  
    .Shape {
      width: 100%;
      height: 60px;
      border: solid 1px #f9f9f9;
    }
    .fieldContainer {
      padding-right: 1px;
      padding-right: 1%;
     
    }
    .FieldValue {
      margin-right: 100px;
      margin-left: -30px;
      max-width: 100%;
      min-width: 10px;
      width: 10px;
      height: 19px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      text-align: center;
      border: solid 1px #ffffff;
    }
  
    .InvalidField {
      margin-right: 100px;
      margin-left: -30px;
      max-width: 100%;
      min-width: 10px;
      width: 10px;
      height: 19px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      text-align: center;
      border-bottom: 1px solid #ff0000;
    }
  
    .Headers {
      width: 14%;
      height: 22px;
      font-family: Roboto;
      padding-left: 50%;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      text-align: center;
     
      color: #0091d1;
    }
    #innerWrapper {
      width: 60vw;
      padding: 0px;
      margin: 0px auto;
      font-family: helvetica;
      position: relative;
    }
  
    #formContainer {
      width: 1286px;
      border-radius: 8px;
      border: solid 1px rgba(43, 56, 68, 0.15);
      background-color: #ffffff;
      margin: 110px;
      margin-bottom: 65px;
      margin-top: 43px;
    }
  
    #draggableContainer{
      position: relative;
      float:right;
      align-content: center;
      border: 1px solid #0091d1;
      margin-right: 2vw;
      margin-bottom: 2vw;
      border-radius: 8px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
      width: 16vw;
    }
  
    #droppableContainer{
      position: relative;
      float: left;
      align-content: center;
      margin-left: 2vw;
      margin-bottom: 2vw;
      border: 1px solid #0091d1;
      border-radius: 8px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
      width: 16vw;
    }
  
    div.checkType {
      text-align: center;
    }
  
    #vendor1 {
      border: 1px solid #0091d1;
      margin: 1vh;
      border-radius: 3px;
      font-size: 13px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
      align-content: inherit;
    }
  
    #vendor2 {
      border: 1px solid #0091d1;
      margin: 1vh;
      border-radius: 3px;
      font-size: 13px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
      align-content: inherit;
    }

    #vendor p {
      align-content: center;
      display: list-item;
      list-style-type: disc;
      margin-left: 1vw;
    }

    .leftTable {
      position: relative;
      border-right: 1px solid #000000;
      width: 20vw;
      height: 10vh;
      float: left;
      margin-left: 2vw;
    }

    td a {
      margin-left: 1vw;
    }

    #singleForm .leftTable tr:nth-child(odd) {
      background-color: #f9f9f9;
    
    }
  
    #singleForm .leftTable,
    #singleForm .leftTable tr,
    #singleForm .leftTable td {
      position: relative;
      border-top: none;
      border-bottom: none;
    }

    .candidateDetails{
      width: 393px;
      height: 27px;
      font-family: Roboto;
      padding-left: 4%; 
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: 0.6px;
      text-align: center;
      color: #2b3844;
      margin-top: 5%;
      }
  
    .rightTable {
      float: right;
      margin-right: 26vw;
      margin-top: -20px;
      width: 30vw;
      border-bottom: none;
    }
  
    .rightTable tr {
      border-bottom: #290a0a;
    }
  
    #submitCandidate {
      width: 30vw;
    }

    #bulk,
    #individually {
      width: 150px;
      align-content: center;
    }
  
    .field3 hr {
      border: none;
      border-top: 0.5px solid lightgray;
      width: 95%;
    }
  
    #formDivider {
      float: left;
      width: 15vw;
      height: 33vh;
      top: 10vh;
      left: -5vw;
      align-items: center;
      border-right: 0.7px solid #000000;
    }
  
    #formDivider table tbody tr td {
      text-align: left;
     
    }

    /*Paragraph bar*/
  
    #paragraph {
      overflow: hidden;
      counter-reset: step2;
    }
  
    #paragraph li:before {
      content: counter(step2);
      counter-increment: step2;
      width: 45px;
      line-height: 45px;
      display: block;
      color: #2b3844;
      height: 45px;
      background-color: #ffffff;
      text-align: center;
      border: 1px solid #2b3844;
      border-radius: 50%;
      margin: 0 auto 10px auto;
    }
  
    #paragraph li.active {
      text-align: center;
      width: 389px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.8px;
      color: #2b3844;
    }
  
    #paragraph li.active:before,
    #paragraph li.active:after {
      color: #ffffff;
      background-color: #0091d1;
      border: 1px solid #ffffff;
      font-weight: bold;
      /*@TODO 
        Make each subsequent text on step bold
    */
    }
  
    #formContainer h3 {
      position: relative;
      top: 0px;
      text-align: center;
      color: #2b3844;
    }
  
    /*
      Styles for fildsets and input
  */
  
    .field1 {
      border: 0px solid white;
    }
  
    #formContainer .field2,
    .field3,
    .field4 {
      border: 0px solid white;
      display: none;
    }
    .form-group {
      width: 15vw;
      display: block;
      margin: auto;
      margin-bottom: 33px;
    }
  
    #checkWrapper {
      z-index: 567890;
    }
    div #textbox {
      position: relative;
      border: 1px solid black;
      border-radius: 8px;
      margin: 3vh auto;
      width: 30vw;
      height: 18vh;
    }
  
    td a {
      text-decoration: none;
    }
  
    .autocomplete .profession {
      width: 15vw;
    }
  
    .field2 p {
      position: relative;
      text-align: left;
      font-weight: bold;
      margin-left: 3vw;
    }
  
    .field2 hr {
      border-top: solid 1px rgba(43, 56, 68, 0.15);
    }
  
    .field2 table {
      position: relative;
      margin-left: 1vw;
    }
    table {
      position: relative;
      border-collapse: collapse;
      width: 60vw;
    }
  
    tr {
      border-bottom: 1px solid #ccc;
    }
    tbody tr td {
      margin-left: 2vw;
    }
  
    table tbody tr td a {
      text-decoration: none;
      cursor: pointer;
    }
  
    #addChecks,
    #removeChecks {
      text-decoration: none;
    }
  
    a.addChecks {
      cursor: pointer;
    }
  
    .field3 p {
      position: relative;
      text-align: left;
      font-weight: bold;
      margin-left: 11px;
    }
  
    #vendors {
      list-style-type: none;
      padding-left: opx;
    }
  
    .field3 h3 {
      /*    width: 593px;
      height: 66px;*/
      top: -10px;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #2b3844;
    }
  
    .field3 p {
      /*    width: 593px;
      height: 33px;*/
      margin-top: 1px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.36;
      letter-spacing: normal;
      text-align: center;
      color: #2b3844;
    }
  
    .field3 p span {
      font-weight: bold;
    }
  
    .uploadSwitch{
     padding-top: -1px;
     padding-left: 4%;
    
    }
    hr {
      border: none;
      border-top: 0.5px dashed #2b3844;
      color: #fff;
      background-color: #fff;
      height: 4px;
      width: 92%;
    }
    #bulkForm .upload-area {
      position: relative;
      margin-top: -3vh;
     
    }
  
    .upload-area img {
      position: relative;
      margin-top: 1vh;
    }
  
    .field4 h3 {
      /*    font-family: Roboto;*/
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: 0.6px;
      text-align: center;
      color: #2b3844;
    }
  
    .field4 p {
      /*    font-family: Roboto;*/
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      text-align: center;
      color: #2b3844;
    }
  
    .field4 span {
      position: relative;
      font-weight: bold;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      text-align: center;
      color: #2b3844;
      top: 2vh;
    }
  
    .field4 button {
      color: #ffffff;
      border-radius: 7px;
      background-color: #0091d1;
    }
  
    .field4 a,
    #formDivider a {
      /*    font-family: Roboto;*/
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: 0.8px;
      text-align: center;
      color: #0091d1;
      text-decoration: none;
      cursor: pointer;
    }
  
    #formDivider a {
      position: relative;
      left: 2vw;
    }
  
    #formDivider p {
      height: 5vh;
      background-color: #f9f9f9;
      border-left: 2px solid #000000;
    }
  
    .holdCheckIcon {
      background-color: #ddd;
      height: 100px;
      width: 100px;
      position: relative;
    }
  
    .checkIcon {
      margin-left: 10px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .holdCheckIcon {
      float: left;
      margin-right: 10px;
    }
  
    .checkCol {
      border-style: solid;
      height: 100%;
      width: 50%;
    }
  
    .holdCheckSelect {
      position: relative;
    }
  
    .checkSelector {
      color: black;
      background-color: white;
      border-color: black;
    }
  
    #prev {
      width: 100px;
      float: left;
      text-align: center;
      padding: 10px 10px;
      font-size: 16px;
      vertical-align: middle;
      font-family: Arial;
      color: white;
      border-style: solid;
      border-color: #0091d1;
      background-color: #0091d1;
      border-radius: 5px;
    }
  
    #next {
      margin-right: 20px;
      width: 100px;
      float: right;
      text-align: center;
      padding: 10px 10px;
      font-size: 16px;
      vertical-align: middle;
      font-family: Roboto;
      color: white;
      border-style: solid;
      border-color: #0091d1;
      background-color: #0091d1;
      border-radius: 5px;
    }
    #dashboard {
      /*display: block;*/
      width: 400px;
      margin-left: 100px;
      margin-right: 100px;
    }
  
    .clickable {
      cursor: pointer;
    }
  
    .panel-heading span {
      margin-top: -20px;
      font-size: 15px;
    }
  
    .panel-title {
      text-align: left;
    }
  
    .panel-heading {
      text-align: left;
      background-color: white;
      border-color: black;
      border-style: solid;
      border-width: 0px 0px 0px 0px;
    }
  
    .panel {
      border: 0;
    }
  
    div .subCheck {
      font-size: 13px;
      border-color: #e6e9ec;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      margin-bottom: 10px;
    }
    .leftCheckCol {
      border-color: #e6e9ec;
      border-style: solid;
      border-width: 0px 1px 1px 0px;
      padding-left: 10px;
    }
    .rightCheckCol {
      width: 50%;
      border-color: #e6e9ec;
      border-style: solid;
      border-width: 0px 0px 1px 1px;
      padding-left: 10px;
    }
    .lastCheckCol {
      width: 50%;
      border-color: #e6e9ec;
      border-style: solid;
      border-width: 1px 1px 0px 0px;
      padding-left: 10px;
    }
  
    .control {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      cursor: pointer;
      font-size: 18px;
    }
  
    .form-check label {
      color: #000000;
      font-weight: normal;
      font-size: 12px;
    }
  W
    /*Input with autocompletion*/
  
    .autocomplete {
      /*the container must be positioned relative:*/
      position: relative;
      display: block;
    }
  
    input[type="text"] {
      background-color: #ffffff;
      width: 100%;
    }
    input[type="submit"] {
      width: 20%;
      background-color: DodgerBlue;
      color: #fff;
    }
  
    .autocomplete-items {
      position: absolute;
      border: 1px solid #e6e9ec;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #ffffff;
      border-bottom: 1px solid #e6e9ec;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: #e9e9e9 !important;
      color: #000000;
    }
  
  
    #next {
      top: 10px;
      line-height: 2px;
      position: relative;
      width: 80px;
      height: 30px;
      float: right;
      right: 150px;
      text-align: center;
      padding: 10px 10px;
      font-family: Arial;
      color: white;
      border: 1px solid #ffffff;
      background-color: #0091d1;
      border-radius: 5px;
    }
    #prev {
      top: 10px;
      line-height: 2px;
      position: relative;
      width: 80px;
      height: 30px;
      float: left;
      left: 150px;
      padding: 10px 10px;
      font-family: Arial;
      color: #000000;
      border: 1px solid #000000;
      background-color: #ffffff;
      border-radius: 7px;
    }
  
    #buttonFooter {
      background-color: #f9f9f9;
      width: 100%;
      margin: 0;
      padding: 0;
      position: fixed;
      height: 50px;
      bottom: 45px;
      left: 0;
      right: 0;
    }
  
    footer {
      background-color: #02529c;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 45px;
      text-align: center;
      color: #e6e9ec;
    }
  
    footer div {
      padding: 10.5px;
      margin: 0px;
      line-height: 100%;
    }
  
    footer a {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.6;
      letter-spacing: 0.6px;
      text-align: center;
      color: #ffffff;
    }
    footer a:hover {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.6;
      letter-spacing: 0.6px;
      text-align: center;
      color: #ffffff;
    }
  
    /* Drag & Drop Form*/
    .upload-area {
      /*display: none; @TODO comment/uncomment to show upload success div below*/
      position: relative;
      top: 3.5vh;
      width: 40vw;
      height: 35vh;
      border-radius: 10px;
      background-color: white;
      border: 1px dashed black;
      border-radius: 7px;
      margin: 0 auto;
      margin-top: 100px;
      text-align: center;
      overflow: hidden;
      margin-bottom: 4vh;
    }
  
    .success-area {
      position: relative;
      top: -5vh;
      width: 28vw;
      height: 25vh;
      border-radius: 10px;
      background-color: white;
      border: 1px dashed black;
      border-radius: 7px;
      margin: 0 auto;
      margin-top: 100px;
      text-align: center;
      overflow: hidden;
      margin-bottom: 4vh;
    }
  
    .success-area img {
      position: relative;
      top: 2vh;
    }
  
    .success-area p {
      position: relative;
      font-weight: normal;
      margin: 2vw;
      text-align: left;
      top: 5vh;
      border: solid 1px rgba(43, 56, 68, 0.04);
    }
    .success-area p a {
      float: right;
      cursor: pointer;
      color: #ff4a93;
    }
  
    .upload-area.is-dragover {
      background-color: grey;
    }
  
    .upload-area:hover {
      cursor: pointer;
    }
  
    .upload-area p {
      position: relative;
      margin-top: -4vh;
    }
  
    .upload-area a {
      position: relative;
      top: 1.5vh;
    }
  
    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  
    #uploadFile p {
      font-size: 12px;
      font-weight: normal;
      left: 11.5vw;
    }
    table tr label input {
      width: 12vw;
    }
  
    table tr label input {
      margin: 0vw 0vw 0vw 2vw;
    }
  
    table tr label {
      float: left;
      font-weight: normal;
      font-size: 12px;
    }
  
    .table {
      left: 4vw;
      width: 72vw;
      border: solid 1px #f9f9f9;
    }
    .table thead tr th {
      color: #0091d1;
      font-size: 14px;
      font-weight: bold;
    }
  
    div #profileName, #jobCode {
      border: 0px solid #000000;
      border-bottom: 0.5px solid #000000;
      outline: none;
      width: 18vw;
      height: 5vh;
      box-align: center;
    }
  
    #dropDownDiv {
      margin-bottom: 3vh;
    }
      
    /** Styles from zeplin*/
    .New-Verification-Req {
      width: 463px;
      height: 35px;
      display: block;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: 0.4px;
      color: #02529c;
      margin-left: -15px;
      margin: 0 110px;
    }
    .Job-Profile {
      display: block;
      width: 250px;
      height: 15px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.21;
      letter-spacing: 0.3px;
      color: #02529c;
      margin-left: 20px;
    }
  
    #spanHolder {
      height: 5px
    }
    #selectElement{
      position: relative;
      margin-left: 510px;
      width: 320px;
    }
  
    #formContainer h3{
      margin-left: 33px;
      margin-top: 57px;
    }
  
    .Line {
  
      border:none;
      border-top: 0.5px dashed #2b3844;
      color:#fff;
      background-color:#fff;
      height:4px;
      width:93%;
    }
    .Verification-checks {
      text-align: left;
      margin-left: 40px;
      width: 568px;
      height: 22px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 1.1px;
      color: #2b3844;
    }
  
    a:hover{
      cursor: pointer;
    }
  
    #formContainer #addRemoveChecks{
      width: 1742px;
      height: 922px;
      background-color: #ffffff;
      color: #02529c;
      margin-left: 60px;
    }
  
    #formContainer #reorderChecks{
      width: 214px;
      height: 22px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      color: #4e9821;
      margin-left: 100px;
    }
  
    #checksTable{
      margin-left: 150px;
    }
  
    #checkImage{
      margin-left: 2px;
      float: left;
    }
  
    #checkDiv {
      height: 20px;
      float: left;
    }

    .Re-order-Check-Seque{
      font-family: Roboto;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #2b3844;
      margin-bottom: 0;
    }

    .Re-order-Check-Seque.text-style-1{
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #2b3844;
      margin-top: 0;
      margin-bottom: 0;
    }
    .The-checks-with-the{
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.36;
      letter-spacing: normal;
      text-align: center;
      color: #2b3844;
      margin-top: 3px;
      margin-bottom:5px;
    }
      
    .Change-the-sequence {
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.36;
      letter-spacing: normal;
      text-align: center;
      color: #2b3844;
    }

    .flex-container {
      display: flex;
      align-items: center;
      text-align: center;
      align-items: baseline;
      margin-left: 35%;
    }

    #saveButtonDiv{
      position: absolute;
      left: 250px;
      top: 15px;
      img{
        color:#02529c;
      }
    }

    #save{
      background: none!important;
      border: none;
      padding: 0!important;
      color: #02529c;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.8px;
      margin-left:5px;
    }

    #Sortable-Checks{
      #text{
        vertical-align: middle;
      }
      ul{
        list-style-type: none;
        padding-inline-start: 0;
        margin-left: 31px;
        margin-right: 31px;
        
      }
      img{
        margin-right:10px;
        margin-left: 10px;
        vertical-align: middle;
      }
      li{
        height: 35px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.9px;
        color: #2b3844;
        border: solid 1px #e6e9ec;
        vertical-align: middle;
      }
      li > *{
        display: inline-block;
        vertical-align: middle;
        }
    }

    #progress_bar_taf{
      position: relative;
      overflow: hidden;
      margin-top: 20px;
      counter-reset: step;
      padding-left: 0px;
      width: 100%;
  }

  #progress_bar_taf li{
      list-style-type: none;
      width:25%;
      float:left;
      position: relative;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.4px;
      text-align: center;
      color: #2b3844;
  }

  #progress_bar_taf li:before{
      position: relative;
      content: counter(step);
      counter-increment: step;
      width: 45px;
      line-height: 42px;
      display: block;
      color: #2b3844;
      height: 45px;
      background-color: #FFFFFF;
      text-align: center;
      border: 1px solid #2b3844;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      z-index: 10;
  }

  #progress_bar_taf li:after {
      margin-left: 280px;
      position: relative;
      content: "";
      width: 100%;
      height: 10px;
      background: #f9f9f9;
      position: absolute;
      left: -43.3%;
      top: 18px;
      z-index: 0;
  }

  #progress_bar_taf li.active:after{
      color: #FFFFFF;
      background: linear-gradient(90deg, #0091d1 100%, #f9f9f9 0%);
      /*@TODO 
          Make each subsequent text on step bold
      */
  }

  #progress_bar_taf :last-child::after{
    display: none;
  }

  #progress_bar_taf li.active:before{
    color: #FFFFFF;
    background: #0091d1;
    border: 2px solid #0091d1;
  }
}