.prevNextFooter{
    background-color: #f9f9f9;
    #buttonFooter{
        background-color: #f9f9f9;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 45px;
        margin-left: 10%;
        margin-right: 10%;
        .block{
            display: inline;
        }
         #prev{
            width: 125px;
            height: 50px;
            border-radius: 7px;
            border: solid 1px #2b3844;
            background-color: #ffffff;
            display: inline-block;
            color: black;
            padding: 0;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        #saveIcon{
            margin-top: 10px;
            margin-left: 30px;
            display: inline-block;
        }
        #linkText{
            font-size: 50px;
        }
        #saveText{
            font-family: Roboto;
            height: 30px;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: 0.8px;
            color: #0091d1;
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 25px;
            
        }
        #next{
            width: 125px;
            height: 50px;
            border-radius: 7px;
            padding: 0;
            background-color: #0091d1;
            float: right;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
   

}