.prevNextFooter{
    height: 100px;
    #buttonFooter{
        background-color: #e6e9ec;
        position: fixed;
        bottom: 45px;
        left: 0;
        right: 0;
        height: 50px;
        text-align: center;
        color: #e6e9ec;
    }

    #leftButton{
        width: 90px;
        height: 35px;
        margin-top: 5px;
        border-radius: 7px;
        border: solid 1px #2b3844;
        background-color: #ffffff;
        float: left;
        margin-left: 228px;
    }
    #rightButton{
        width: 90px;
        height: 35px;
        margin-top: 5px;
        color: #FFFFFF;
        border-radius: 7px;
        background-color: #0091d1;
        border: 1px solid #0091d1;
        float: right;
        margin-right: 228px;
    }
}