    .assignRecruiters{
    .Rectangle-Copy {
        margin:0 auto;
        width: 969px;
        height: 392px;
        border-radius: 7px;
        box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.17);
        border: solid 1px #6849ae;
        background-color: #ffffff;
        text-align: center;
        padding-top: 50px;
      }
    .Assign-Recruiters {
        width: 428px;
        height: 27px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: 0.6px;
        text-align: center;
        color: #2b3844;
        margin-bottom:10px;
      }
      .Call-Centre-Supervis {
        width: 524px;
        height: 22px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 1.1px;
        text-align: center;
        color: #2b3844;
      }
      .Rectangle-Copy-14 {
        width: 150px;
        height: 40px;
        border-radius: 7px;
        color: #ffffff;
        background-color: #0091d1;
      }
      .Cancel {
        width: 84px;
        height: 22px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.8px;
        text-align: center;
        color: #0091d1;
        text-decoration: none;
      }

    }