    .assignRecruiters{
    .Rectangle-Copy {
      margin: 0 auto;
      /* width: 900px; */
      height: fit-content;
      border-radius: 7px;
      box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.17);
      /* border: solid 1px #6849ae; */
      background-color: #ffffff;
      text-align: center;
      padding-top: 50px;
      }
    .Assign-Recruiters {
        width: 428px;
        height: 27px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: 0.6px;
        text-align: center;
        color: #2b3844;
        margin-bottom:10px;
      }
      .Call-Centre-Supervis {
        width: 524px;
        height: 22px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 1.1px;
        text-align: center;
        color: #2b3844;
      }
      .Rectangle-Copy-14 {
        width: 150px;
        height: 40px;
        border-radius: 7px;
        color: #ffffff;
        background-color: #0091d1;
        border: 0px;
        margin-left: 29px;
      }
      .Cancel {
        width: 94px;
        height: 22px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.8px;
        text-align: center;
        color: #0091d1;
        text-decoration: none;
        margin: 9px 0px;
      }
      .assignFooter{
        margin-top: 30px;
        margin-bottom: 53px;
        height: 524px;
        height: 40px;
        display: flex;
        flex-flow: row-reverse;
        padding: 0px 221.5px;
      }
      .checkBoxesContainer{
        display: flex;
        flex-flow: column;
        align-items: left;
        margin-top: 29px;
      }
      .checkbox{
        padding: 0px 213.5px;
        width: 524px;
        display: flex;
        flex-flow: column;
        align-items: left;
        label{
          left: 0;
          text-align: start;
          width: 100%;
          padding-top: 8.2px;
          padding-bottom: 8.2px;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.9px;
          color: #2b3844;
          border: solid 1px #e6e9ec;
          vertical-align: middle;
        }
        
        input{
          margin: 0 20px;
        }
      }
      .tickedBox{
        background: #e6e9ec;
        font-weight: bold;
      }
    }