.congratulations{
    .Rectangle-Copy {
        margin:0 auto;
        width: 969px;
        height: 392px;
        border-radius: 7px;
        box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.17);
        border: solid 1px #6849ae;
        background-color: #ffffff;
        text-align: center;
        padding-top: 50px;
      }
    .Assign-Recruiters {
        width: 428px;
        height: 27px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: 0.6px;
        text-align: center;
        color: #2b3844;
        margin-bottom:10px;
      }
      .Rectangle-Copy-14 {
        width: 150px;
        height: 40px;
        border-radius: 7px;
        color: #ffffff;
        background-color: #0091d1;
      }
      .You-have-successfull {
        width: 507px;
        height: 44px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.9px;
        text-align: center;
        color: #2b3844;
      }
      
      .You-have-successfull .text-style-1 {
        font-weight: bold;
      }
    }