.forgotSuccess{
	.mainSection {
		padding-top: 84px;
		margin: 0 auto;
		min-width: 550px;
		max-width: fit-content;
		width: 622px;
		height: fit-content;
		background-color: #ffffff;
		-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
				box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
		text-align: center;
		border: 1px solid lightgray;
		border-radius: 10px;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	#heading{
		margin-top: 29px;
		width: 503px;
		height: 58px;
		font-family: Roboto;
		font-size: 24px;
		//font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.21;
		letter-spacing: 0.6px;
		text-align: center;
		color: #2b3844;
	}
	#tick{
		width: 51px;
		height: 51px;;
	}
	#middle{
		margin-top: 36px;
		display: flex;
		flex-flow: row;
		align-items: center;
		margin-bottom: 55px;
	}
	p{
		margin: 0px 0px;
	}
	#bold{
		font-weight: bold;
	}
	#btnLogin{
		width: 196px;
		height: 50px;
		border-radius: 7px;
		background-color: #0091d1;
		border: 0px;
		color: white;
		margin-bottom: 70px;
	}
	.form-group{
		margin: auto;
		width: 177px;
		margin-top: 72px;
		margin-bottom: 36px;
	}

}