.SpinnerDiv{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

div.Inner{
    vertical-align: middle;
    margin: 10px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}