@import '../../../Shared/Styles/mixins';
@import '../../../Shared/Styles/variables';

.createAmendUser {
    margin: 0 228px;

    p {
        width: 557px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.4px;
        color: #02529c;
    }

    .userSummary {
        margin: 10px 30px;
        padding-bottom: 30px;
        width: 1000px;
        border-bottom: 1px solid #333333;
        display: inline-flex;
    }

    .userSummary img {
        width: 129px;
        height: 129px;
        border-radius: 100%;
        margin-right: 10px;
    }

    #heading label{
        display: block;
        color: #02529c;
    }

    .mainSection {
        border-radius: 8px;
        border: solid 1px #e6e9ec;
        background-color: #ffffff;
        height: 500px;
        overflow-y: auto;
    }

    table {
        margin: 10px 30px;
        padding-bottom: 30px;
    }

    #roles {
        width: 146px;
        height: 22px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.75;
        letter-spacing: 0.3px;
        color: #2b3844;    
    }

    #name {
        width: 328px;
        height: 25px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.4px;
        color: #02529c;
    }

    input:focus {
        background: none;
        outline: none;
    }

    .details label {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.75;
        letter-spacing: 0.3px;
        color: #2b3844;
    }
      
    input, select{
        border: 0;
        width: 295px;
        border-bottom: solid 1px #e6e9ec;
        background: none;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.9px;
        color: #222a31;
    }

    input[type="date"] {
        padding-left: 80px;
        width:215px;
    }

    select option:first-child{
        color: white;
    }

    td {
        padding: 10px 46px;
        padding-left: 0;
    }

    .dateLabel {
        width: 60px;
        height: 22px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.75;
        letter-spacing: 0.3px;
        color: #2b3844;
        position: relative;
        bottom: -34px;
    }

    #start{
        left:-105px;
    }
    .details button {
        float: right;
        width: 120px;
        height: 14px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
    }

    .details button:hover {
        cursor: pointer;
    }

    #apply {
        width: 125px;
        height: 50px;
        border-radius: 7px;
        background-color: $lightBlue;
        border: 0;
        margin-right: 30px;
    }

    li {
        display: inline-block;
        margin-right: 17px;
        background-color: #f9f9f9;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
        height: 30px;
        color: #2b3844;
        margin-bottom: 8px;
        padding: 4px 1em;
    }

    li img {
        padding-left: 1em;
        position: relative;
        bottom: 7px;
    }

    li img:hover {
        cursor: pointer;
    }

    ul{
        padding: 0;
    }

    .details label{
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      position: relative;
      font-weight: bold;
      bottom: 7px;
    }
    .error{
        color: #d0021b;
        width: fit-content;
        margin: 0px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
    }
    .success{
        color: #2f831c;
        margin: 0px;
        width: fit-content;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
    }
    .userButtons{
        display: flex;
        flex-direction: row;
        #closeIcon{
            height: 12px;
            margin-right: 18px;
        }
        #btnDeactivate{
            width: 208px;
            border: 0;
            height: 50px;
            border-radius: 7px;
            background-color: #ff4a93;
            margin-right: 22px;
        }
        #btnClearAll{
            @include button-style;
            font-weight: bold;
            background-color: #ffffff;
            color: #d0021b;
            height: 50px;
            margin-left: 78px;
        }
        #btnClearAll:focus {
            outline: none;
        }
        .alignLeft{
            align-self: flex-start;
        }
        .alignRight{
            align-self: flex-end;
            flex-grow: 1;
        }

        
    }
    
}