/*Nav bar*/
.adminNavBar{
  nav{
  border-bottom: 1px solid rgba($color: #727272, $alpha: 0.1  );
  padding-bottom: 0px !important;
}

.navItems:hover, .navItem:focus, .navItems:active {
  color: #02529c;
  text-decoration: none;
}

.clickncheckLogo{
width: 155px;
height: 25px;
}

.navItems{
position: relative;
font-size: 12px;
color: #02529c !important;
font-family: Roboto;
font-weight: bold;
}
 
.navItems::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #02529c;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}

.navItems:hover::before, .navItems:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.active {
  color: #02529c;
  border-bottom: 4px solid #02529c;
}

.navbar .dropdown-menu-right {
right: 0 !important;
left: auto !important;
}

.userName{
font-size: 14px;
font-family: Roboto;
color: #02529c
}

.dropdown-toggle::after {
display: none !important;
}

.drops{
  width: 8px;
  height: 8px;
}

.img-circle {
  width: 35px;
  height: 35px;
  border: solid 1px #ffffff;
  border-radius:100%;
  margin-top: -5px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px; /* Example: right:10px; */
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px; /* Example: right:10px; */
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
}
