.Rectangle-Copy {
  width: 1286px;
  height: 723px;
  border-radius: 8px;
  border: solid 1px rgba(43, 56, 68, 0.15);
  background-color: #ffffff;
  align-content: center;
  .Personal-Details {
    width: 235px;
    height: 27px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 0.6px;
    color: #2b3844;
  }

  .Personal-Details .text-style-1 {
    font-weight: normal;
  }

  .Input-Text {
    width: 149px;
    height: 23px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.9px;
    color: #2b3844;
    margin-right: 5px;
  }

  .Radio-Button-Text {
    width: 81px;
    height: 23px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.77;
    letter-spacing: 1.1px;
    color: #2b3844;
  }

  .Oval-Copy-20 {
    width: 12px;
    height: 12px;
    background-color: #2b3844;
  }
}
