.ParentContainerBody {
    margin: 0 auto;
    text-align: center;
    height: 100%;
.body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #ffffff;

}  
.candidateNav{
    .recNavBar .navbar .topnav {
      margin: 0 20vh;
    }
  }

}