@import "../../../Shared/Styles/mixins";
@import "../../../Shared/Styles/variables";

.ParentContainerBody {
    @include body-container;
.body {
  @include body-container;
    text-align: center;
    background-color: #ffffff;

}  

.switchButton {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  /* height: 0px; */
  padding-left: 30px;
}
.candidateNav{
    .recNavBar .navbar .topnav {
      margin: 0 20vh;
    }
  }

}