/* Add a black background color to the top navigation */
@import "../../../Shared/Styles/mixins";
@import "../../../Shared/Styles/variables";

.bodyStyles {
  margin: 0 auto;
  text-align: center;
  height: 100%;

  body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
  }
  .formBox {
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e9ec;
  height: 563px;
  border-radius: 8px;
  position: relative;
  flex-basis: auto;
  width: 1200px;
  // margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 50px;
}
.formChecks{
  display: block;
  margin-top: 0em;
  height: 290px;
  overflow-y: scroll;
  
}



.force-overflow
{
	min-height: 450px;
}


#style-1::-webkit-scrollbar-track
{
//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0091d1;
}

    #formContainer {
      position: relative;
      width: 1286px;
      border-radius: 8px;
      border: solid 1px rgba(43, 56, 68, 0.15);
      background-color: #ffffff;
      margin: 110px;
      text-align: center;
    }

    /**
        ProgressBar
    */
  
    #progress_bar{
        overflow: hidden;
        counter-reset: step;
        margin-top: -12px;
        padding-left: 0px;
    }
    
    #progress_bar li{
        margin-top: 20px;
        list-style-type: none;
        color: black;
        width:33.33%;
        float:left;
        position: relative;
    }
    
    #progress_bar li:before{
        content: counter(step);
        position: relative;
        counter-increment: step;
        width: 45px;
        line-height: 45px;
        display: block;
        color: #2b3844;
        height: 45px;
        background-color: #FFFFFF;
        text-align: center;
        border: 1px solid #2b3844;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        z-index: 10;
        
        
    }
    
    #progress_bar li:after {
      content: '';
      width: 98%;
      height: 10px;
      background: #e6e9ec;
      position: absolute;
      left: -50%;
      top: 18px;
       z-index: 0; 
    }
    #progress_bar li:first-child:after {
    /*connector not needed before the first step*/
        content: none; 
    }
    
    #progress_bar li.active:before,  #progress_bar li.active:after{
        color: #FFFFFF;
        background-color: #0091d1;
        border: 1px solid #0091d1;
        font-weight: bold;
        /*@TODO 
            Make each subsequent text on step bold
        */
    }
    #progress_bar li.active:before{
      content: '\2713';
    }

  #draggableContainer{
    position: relative;
    float:right;
    align-content: center;
    border: 1px solid #0091d1;
    margin-right: 2vw;
    margin-bottom: 2vw;
    border-radius: 8px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
    width: 16vw;
  }
  
  #droppableContainer{
    position: relative;
    float: left;
    align-content: center;
    margin-left: 2vw;
    margin-bottom: 2vw;
    border: 1px solid #0091d1;
    border-radius: 8px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
    width: 16vw;
  }
  
    div.checkType {
      text-align: center;
    }
  
  #vendor1 {
    border: 1px solid #0091d1;
    margin: 1vh;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
    align-content: inherit;
  }
  
  #vendor2 {
    border: 1px solid #0091d1;
    margin: 1vh;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
    align-content: inherit;
  }
    #vendor p {
      align-content: center;
      display: list-item;
      list-style-type: disc;
      margin-left: 1vw;
    }

    table {
      position: relative;
      border-collapse: collapse;
      width: 60vw;
    }
  
    tr {
      border-bottom: 1px solid #ccc;
    }
    tbody tr td {
      margin-left: 2vw;
    }
  
    table tbody tr td a {
      text-decoration: none;
      cursor: pointer;
    }
  
    #addChecks,
    #removeChecks {
      text-decoration: none;
    }
  
    a.addChecks {
      cursor: pointer;
    }
  
    #vendors {
      list-style-type: none;
      padding-left: opx;
    }

    #prev {
      width: 100px;
      float: left;
      text-align: center;
      padding: 10px 10px;
      font-size: 16px;
      vertical-align: middle;
      font-family: Arial;
      color: white;
      border-style: solid;
      border-color: #0091d1;
      background-color: #0091d1;
      border-radius: 5px;
    }
  
    #next {
      margin-right: 20px;
      width: 100px;
      float: right;
      text-align: center;
      padding: 10px 10px;
      font-size: 16px;
      vertical-align: middle;
      font-family: Arial;
      color: white;
      border-style: solid;
      border-color: #0091d1;
      background-color: #0091d1;
      border-radius: 5px;
    }

    .clickable {
      cursor: pointer;
    }
  
   
  
    #next {
      top: 10px;
      line-height: 2px;
      position: relative;
      width: 80px;
      height: 30px;
      float: right;
      right: 150px;
      text-align: center;
      padding: 10px 10px;
      font-family: Arial;
      color: white;
      border: 1px solid #ffffff;
      background-color: #0091d1;
      border-radius: 5px;
    }
    #prev {
      top: 10px;
      line-height: 2px;
      position: relative;
      width: 80px;
      height: 30px;
      float: left;
      left: 150px;
      padding: 10px 10px;
      font-family: Arial;
      color: #000000;
      border: 1px solid #000000;
      background-color: #ffffff;
      border-radius: 7px;
    }
  
    #buttonFooter {
      background-color: #f9f9f9;
      width: 100%;
      margin: 0;
      padding: 0;
      position: fixed;
      height: 50px;
      bottom: 45px;
      left: 0;
      right: 0;
    }
  
    footer {
      background-color: #02529c;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 45px;
      text-align: center;
      color: #e6e9ec;
    }
  
    footer div {
      padding: 10.5px;
      margin: 0px;
      line-height: 100%;
    }
  
    footer a {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.6;
      letter-spacing: 0.6px;
      text-align: center;
      color: #ffffff;
    }
    footer a:hover {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.6;
      letter-spacing: 0.6px;
      text-align: center;
      color: #ffffff;
    }

    .table {
      left: 4vw;
      width: 72vw;
      border: solid 1px #f9f9f9;
    }
    .table thead tr th {
      color: #0091d1;
      font-size: 14px;
      font-weight: bold;
    }
  
    div #profileName {
      border: 0px solid #000000;
      border-bottom: 0.5px solid #000000;
      outline: none;
      width: 18vw;
      height: 5vh;
    }
  
    #dropDownDiv {
      margin-bottom: 3vh;
    }
      
    /** Styles from zeplin*/
    .New-Verification-Req {
      width: 463px;
      height: 35px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: 0.4px;
      letter-spacing: 0.4px;
  color: #02529c;
  align-self: flex-start;
  padding-left: 1%;
    }
    .Job-Profile {
      width: 250px;
      height: 15px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.21;
      letter-spacing: 0.3px;
      color: #02529c;
      align-self: flex-start;
      padding-left: 4.5%;
      padding-bottom: 1%;
      margin-top: -2%;
    }
  
    #spanHolder {
      height: 5px;
    }
    #selectElement{
      position: relative;
      margin-left: 510px;
      width: 320px;
    }
  
    #formContainer h3{
      margin-left: 33px;
      margin-top: 64px;
    }
    .loading{
      width: 25px;
      height: 25px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 15px;
      
    }
    #spinner{
        display: block;
        width: 25px;
        height: 25px;
    }
  
    #jobProfileChecks {
      text-align: left;
      list-style-type: none;
      width: 1140px;
      height: 30px;
      border-bottom: solid 1px rgba(43, 56, 68, 0.15);
      background-color: #ffffff;
      margin-top: 4px;
    }
    .Line {
      border-top: 1px dashed #2b3844;
      width:95%;
      margin-left: 40px;
    }
    .Verification-checks {
      text-align: left;
      margin-left: 40px;
      width: 568px;
      height: 22px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 1.1px;
      color: #2b3844;
    }
  
    a:hover{
      cursor: pointer;
    }
  
  #formContainer #addRemoveChecks{
      width: 1742px;
      height: 922px;
      background-color: #ffffff;
      color: #02529c;
      margin-left: 60px;
    }
  
    #formContainer #reorderChecks{
      width: 214px;
      height: 22px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.9px;
      color: #4e9821;
      margin-left: 100px;
    }
  
    #checksTable{
      margin-left: 150px;
    }
  
    #checkImage{
      margin-left: 2px;
      float: left;
    }
  
    #checkDiv {
      height: 20px;
      float: left;
    }
  }
  