<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="./otp.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>        
        <title>OTP</title>
    </head>

    <body>
        <header class="headSection">
            <img src="../../../icons/main.svg"/>
        </header>

        <div class="mainSection">
            <div class="registrationHeading">
                Enter the One-Time Pin sent to you
            </div> 

            <div class="form-group">
                    <input placeholder="&nbsp;" type="number" data-bind="value: digit1" />
                    <input placeholder="&nbsp;" type="number" data-bind="value: digit2" />
                    <input placeholder="&nbsp;" type="number" data-bind="value: digit3" />
                    <input placeholder="&nbsp;" type="number" data-bind="value: digit4" />
                    <input placeholder="&nbsp;" type="number" data-bind="value: digit5" /> 
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <button data-bind="click: submit">SUBMIT</button>
            </div> 
        </div>

        <footer class="footSection">
            <a id="ClicknCheck">ClicknCheck 2018</a>&nbsp;
            <a id="T&Cs">T’s & C’s</a>&nbsp;
            <a id="ContactUs">Contact Us</a>
        </footer>
        <script src="../../../scripts/constants.js"></script>
        <script src="./otpVm.js"></script>
    </body>
</html>